.header {
    position: fixed;
    width: 100%;
    background-color: #333;
    padding-top: 35px;
    padding-bottom: 35px;
    z-index: 100;
    @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.header__wrap {
    display: flex;
    gap: 62px;
    align-items: center;
    color: #fff;
    @media (max-width: 1200px) {
        gap: 40px;
    }
    @media (max-width: 1023px) {
        justify-content: space-between;
    }
}

.header__logo {
    flex: 0 0 184px;
}

.header__nav {
    display: flex;
    gap: 40px;
    font-size: 16px;
    a {
        &:hover,
        &.active {
            color: var(--color-orange);
            transition: all 0.3s ease;
        }
    }
    @media (max-width: 1200px) {
        gap: 20px;
    }
    @media (max-width: 1023px) {
        flex-direction: column;
        gap: 10px;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    @media (max-width: 1023px) {
        opacity: 0;
        position: fixed;
        flex-direction: column;
        visibility: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        justify-content: center;
        gap: 50px;
        text-align: center;
    }
    &.menu-show {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
}

.header__tel {
    font-size: 21px;
}

.header__menu {
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url("../images/burger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &.active {
        background-image: url("../images/close.png");
    }
    @media (min-width: 1024px) {
        display: none;
    }
}
