.services {
    h2 {
        margin-bottom: 42px;
        @media (max-width: 767px) {
            margin-bottom: 24px;
        }
    }
}

.services__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.08);
    min-height: 118px;
    .item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 27px;
        padding: 22px;
        &:not(:last-child) {
            border-right: 1px solid rgba(202, 202, 202, 0.6);
            @media (max-width: 767px) {
                border-right: none;
            }
        }
        @media (max-width: 767px) {
            gap: 19px;
            font-size: 14px;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 20px);
                height: 1px;
                background-color: rgba(202, 202, 202, 0.6);
            }
        }
    }
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}
