section.audit 
	.container 	
		.audit__wrap
			.audit__col
				h2 <span>БЕСПЛАТНЫЙ</span> аудит <br> текущей бухгалтерии
				ul.audit__list 
					li ✓ Найдём, где можно сократить налогооблагаемую базу
					li ✓ Увидим все ошибки в документах
					li ✓ Сообщим о налоговых рисках
			.feedback 
				.feedback__head
					h3 Оставить заявку
				form.feedback__form
					input(placeholder="Ваше имя" name="name" required)
					input.tel(placeholder="+7 (___) ___ - __ - __" name="phone" required) 
					button.submit.btn.btn--type2(type="submit") Получить аудит
					input.visitor_uid(value="" hidden)
			button.btn.btn--type2.feedback__btn.open-modal Получить аудит