.feedback 
	.feedback__head 	
		h3 Получите деньги обратно, если не устроят первые две недели работы
	form.feedback__form
		input(type="text" placeholder="Имя" name="name" required)
		input.tel(placeholder="+7 (___) ___ - __ - __" name="phone" required)
		button.btn.btn--submit.submit(type="submit") Оставить заявку
		input.visitor_uid(value="" hidden)
	span.feedback__agree Нажимая на кнопку вы даете соглашение на обработку 
		a(href="policy.html" target="_blank") персональных данных