section.sale#price 
	.container 
		.sale__wrap
			.sale__contant
				h2 Попробуейте <span>ПЕРВЫЙ</span> месяц со скидкой 50%
				button.btn.btn--type3.open-modal ОФОРМИТЬ СО СКИДКОЙ
			.sale__pic 
				img(loading="lazy" src=require('../../images/sale.svg'), width="434" height="167" alt='')