section.steps#steps 
	.container 
		.steps__container
			h2 Экономьте с нами, так как:
			.steps__wrap 
				.steps__items
					.item
						span.item__number 1
						p Не платите аренду рабочего места для сотрудника, взносы на платные подписки для программ - всё оплачиваем мы
					.item
						span.item__number 2
						p За одну стоимость можно получить услуги главного бухгалтера, расчетчика зарплаты, юриста, кадровика, налогового эксперта
					.item
						span.item__number 3
						p Наша цена на 40% ниже рынка. <br> Сократили её за счёт автоматизация, накопленного опыта, эффекта масштаба и отработанных бизнес процессоы
					.item
						span.item__number 4
						p Наши сотрудники в регионах - стоимость гораздо ниже по сравнению с компаниями из МСК и СПБ
				.steps__col 
					.steps__cifrus
						span от 15 000 руб/м
						span до 125 000 руб/м
					p Считаем индивидуально в зависимости от типа юр лица, объема документообороота, сложности задачи и закрываемых нами сфер
					button.btn.btn--type3.open-modal УЗНАТЬ ТОЧНУЮ ЦЕНУ