section.teams#teams 
	.container 	
		h2 Наша команда
		.teams__wrap 
			.item 
				img(loading="lazy" src=require('../../images/t1.png'), width="220" height="220" alt='')
				.item__content 
					.item__name Елена Иванова
					.item__text Главный бухгалтер
			.item 
				img(loading="lazy" src=require('../../images/t2.png'), width="220" height="220" alt='')
				.item__content 
					.item__name Юлия Стенина
					.item__text Бухгалтер 1С
			.item 
				img(loading="lazy" src=require('../../images/t3.png'), width="220" height="220" alt='')
				.item__content 
					.item__name Иван Бодров
					.item__text Специалист 1С
			.item 
				img(loading="lazy" src=require('../../images/t4.png'), width="220" height="220" alt='')
				.item__content 
					.item__name Николай Ящук
					.item__text Программист